body, html{
  background-color: black;
}

.something-special{
  width: 75px;
  height: 70px;
  margin: 50px auto 0;
  padding: 5px;
  text-align: center;
}
.something-special:hover{
  animation: shake 0.7s linear infinite
}
@keyframes shake {
  0% { transform: translate(1px, 1px); }
  10% { transform: translate(-1px, -2px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 2px); }
  40% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 2px); }
  60% { transform: translate(-3px, 1px); }
  70% { transform: translate(3px, 1px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}


.bot-btn{
  font-size: 60px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.bot-btn:hover{
  color: #ff1439;
}
