/*media queries------------------------------------------------------*/
@media screen and (max-width: 950px) {
  #title{
    font-size: 28px;
  }
  .bot-head{
    width: 70px;
    height: 70px;
  }
}


@media screen and (max-width: 950px) and (min-width: 620px) {
  .alll{
    grid-template-columns: 10px 250px 20px auto 10px;
    grid-template-rows: 5% 20% 5% 65% 5%;
  }
  .arrow_box:after {
    top: 90px;
  }
}


@media screen and (max-width: 620px) {
  body, html{
    width: auto;
    height: auto;
    border: none;
  }
  html{
    overflow: auto;
  }
  .loader-wrapper{
    border: none;
  }
  .alll{
    padding: 5px 5px 10px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 145px minmax(450px,85vh) minmax(40px, auto);
    grid-template-areas:
      ". p ."
      "a a a"
      ". i .";
    height: auto;
  }

  .arrow_box{
    animation: none;
    box-shadow: none;
  }
  .arrow_box:after{
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    margin-top: 0px;
    margin-left: -27px;
    border-bottom-color: var(--wit-in-dark);
    border-right-color: transparent;
  }
  .talk_box{
    box-shadow: none;
  }
  .type_box{
    width: 92%;
  }

  .info fieldset{
    box-shadow: none;
    padding: 15px 5px;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
  .info legend{
    border: none;
    background-color: transparent;
  }
  .add-button{
    margin-top: 20px;
    padding: 5px 10px;
  }
  .info p, .info hr, .info legend{
    display: none;
  }
  .info_contain{
    width: 95%;
  }
}