:root {
  --blk-in-dark: black;
  --wit-in-dark: white;
}

[data-theme="light"] {
  --blk-in-dark: white;
  --wit-in-dark: black;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  transition: all 0.2s linear;
}

body, html{
  background-color: var(--blk-in-dark);
  border: 3px solid var(--wit-in-dark);
  line-height: 1.15;
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 600px;
  min-width: 300px;
}

/*Loading Screen------------------------------*/
.loader-wrapper {
  margin: 0px;
  padding: 0px;
  border: 6px solid var(--wit-in-dark);
  width: 100%;
  min-width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--blk-in-dark);
  display: flex;
}
.loader{
  margin: auto;
  padding: 0;
  width: 120px;
  height: 18px;
  background-color: var(--blk-in-dark);
  border: 2px solid var(--wit-in-dark);
  box-shadow: 0 0 100px var(--wit-in-dark);
}
.load_bar{
  height: 100%;
  background-color: var(--wit-in-dark);
  animation: load 1.6s linear;
}
.load_text{
  margin-top: 5px;
  color: var(--wit-in-dark);
  font-size: 13px;
  font-family: 'Megrim';
  text-align: center;
}
@keyframes load{0% {width: 0%;} 35%  {width: 30%;} 65%  {width: 70%;} 100% {width: 101%;}
}

/*-------------------------------------------------------------*/
button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.alll{
  display: grid;
  grid-template-columns: 50px 300px 50px auto 50px;
  grid-template-rows: 5% 25% 5% 60% 5%;
  grid-template-areas: 
    ". . . . ." 
    ". p . a ." 
    ". . . a ." 
    ". i . a ." 
    ". . . . .";
  height: 100%;
}
/*header-------------------------------------------------------------*/
.pagehead {
  grid-area: p;
}

.heading{
  border-bottom: 2px solid var(--wit-in-dark);
  padding: 5px 0px 10px;
}
#title{
  margin: 0;
  color: var(--wit-in-dark);
  font-family: 'Megrim', monospace;
  text-align: center;
  font-size: 40px;
  user-select: none;
  -ms-user-select: none;
  will-change: opacity, letter-spacing;
}
@keyframes focus-in-expand {
  0% {letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*.bot-head (or) head of the bot -------------*/
.bot-head{
  margin: auto;
  padding: 12px 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  outline: none;
}
.bot-btn{
  padding: 0px;
}

.bot-btn svg{
  height: 100%;
  width: 100%;
  fill: var(--wit-in-dark);
}
.bot-btn svg:hover{
  fill: #ff1439;
  transform: scale(1.15);
}
.bot-btn svg:active{
  transition: all 0.1s linear;
  transform: scale(1);
}

/*chatter -----------------------------------------------------------*/
.arrow_box {
  grid-area: a;
  display: none;
  border-radius: 36px 0 36px 36px;
  padding: 5px;
  background-color: var(--wit-in-dark);
  box-shadow: 2px 2px 20px black;
  animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  will-change: transform;
}
@keyframes scale-in-top {
  0% {transform: scale(0);
      transform-origin: -80px 95px;
  }
  100% {transform: scale(1);
        transform-origin: -80px 95px;
  }
}

.arrow_box:after {
	top: 120px;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  border-right-color: var(--wit-in-dark);
	border-width: 27px;
	margin-top: -27px;
}

/*chatspace-----------------------------------*/
.talk_box{
  width: 100%;
  height: calc(100% - 60px);
  border-radius: 32px 0 0 0;
  background-color: var(--blk-in-dark);;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#chatspace::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: #F5F5F5;
}
#chatspace::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
  cursor: pointer;
}
#chatspace::-webkit-scrollbar-thumb {background-color: #5c5c5c;}

/*message CSS---------------------------------*/
/* BOcT talk CSS */
.boct_talk{
  float: left;
  width: 75%;
  margin: 6px 4px 6px;
  border: 2px solid var(--wit-in-dark);
  padding: 2px 8px 2px 8px;
  position: relative;
  background: #e64c63;
}

/*human talk CSS */
.human_talk{
  float: right;
  width: 75%;
  min-height: 44px;
  margin: 6px 4px 6px;
  background: var(--wit-in-dark);
  padding: 2px 8px;
  position: relative;
  box-shadow: 0 0 20px var(--wit-in-dark);
}

.human_talk > p , .boct_talk > p{
  color: var(--blk-in-dark);
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  overflow-wrap: break-word;
}

/*Type----------------------------------------*/
.type_box{
  margin: 12px auto;
  width: 85%;
  height: 36px;
}
.type_box-inner {
  width: 100%;
  display: flex;
}

.typespace {
  width: 100%;
  padding: 5px;
  height: 36px;
  border: 3px solid var(--blk-in-dark);
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 15px var(--blk-in-dark);
  outline: none;
  background-color: white;
  color: hsl(0,0%,35%);
  font-family: "Quicksand", sans-serif;
}
.typespace:focus{
  color: black;
}

.typespace-enter {
  width: 40px;
  height: 36px;
  padding: 7px 8px 8px;
  background: var(--blk-in-dark);
  box-shadow: 0 0 15px var(--blk-in-dark);
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: none;
  align-items: center;
}
.typespace-enter svg{
  fill: var(--wit-in-dark);
  width: 100%;
  height: 100%;
  text-align: center;
}
.typespace-enter svg:active{
  fill: #ff1439;
}

/*Info---------------------------------------------------------------*/
.info {
  grid-area: i;
}
.info fieldset{
  border: 2px solid var(--wit-in-dark);
  box-shadow: 0 0 15px inset var(--wit-in-dark);
  padding: 5px;
}
.info legend{
  color: var(--wit-in-dark);
  font-family: sans-serif;
  font-size: 14px;
  padding: 1px 6px;
  margin: 0 auto;
  border: 2px solid var(--wit-in-dark);
  background-color: var(--blk-in-dark);
}
.infobtns{
  display: flex;
  justify-content: space-around;
}
.info button{
  width: 25px;
  height: 25px;
  padding: 0px;
}
.info svg{
  width: 100%;
  height: 100%;
  fill: var(--wit-in-dark);
  opacity: 0.7;
}
.info svg:hover{
  opacity: 1;
}
.info p{
  text-align: center;
  color: var(--wit-in-dark);
  font-family: 'Quicksand';
  font-size: 14px;
}
.release{
  font-family: 'Arial', monospace !important;
  letter-spacing: 2px;
  font-size: 10px !important;
}

/*
*-----------------------------------------------------------
* Animations: scale-in-top and focus-in-expand.
* generated by http://animista.net
*-----------------------------------------------------------
And also: Thanks to
->  https://redstapler.co/add-loading-animation-to-website/
*/

#info_popup{
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 2px solid var(--wit-in-dark);
  opacity: 0.7;
}
.inffo{
  width: 40%;
  height: 40%;
  margin: auto;
  background-color: var(--wit-in-dark);
  opacity: 1;
}