@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body, html{
  background-color: black;
  line-height: 1.15;
}
body{
  margin: 0;
}

/*Loading Screen------------------------------*/
.loader-wrapper {
  width: 100%;
  min-width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
}
.loader{
  width: 140px;
  height: 16px;
  background-color: black;
  border: 2px solid white;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 100px white;
}
.load_bar{
  height: 100%;
  background-color: white;
  animation: load 2s linear;
}
.load_text{
  margin-top: 5px;
  color: white;
  font-size: 13px;
  font-family: 'Megrim';
  text-align: center;
}
@keyframes load{
  0% {width: 0%;}
  35% {width: 30%;}
  65% {width: 70%;}
  100% {width: 100%;}
}

/*header-------------------------------------------------------------*/
.alll, .pagehead, .heading, #title, .arrow_box, .arrow_box::after,.typespace-enter > svg, .info, footer > div > a{
  transition: all 0.2s linear;
}

.alll{
  display: grid;
  grid-template-columns: 50px 300px 60px auto 50px;
  grid-template-rows: 5vh 30vh 5vh 50vh 10vh;
  grid-template-areas: 
    ". . . . ." 
    ". p . a ." 
    ". . . a ." 
    ". i . a ." 
    ". . . . .";
  min-width: 300px;
  box-sizing: border-box;
  margin: 0 8px;
}

.pagehead { grid-area: p; }

/*--------------------------------------------*/
.heading{
  border-bottom: 2px solid white;
  padding: 5px 0px 10px;
}
#title{
  margin: 0;
  color: white;
  font-family: 'Megrim', monospace;
  text-align: center;
  font-size: 40px;
  user-select: none;
  -ms-user-select: none;
  will-change: opacity, letter-spacing;
}
@keyframes focus-in-expand {
  0% {letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*.bot-head (or) head of the bot -------------*/
.bot-head{
  margin: 10px auto 575px;
  width: 90px;
  height: 80px;
  text-align: center;
  outline: none;
}

/*BOcT*/
.bot-btn > svg{
  height: 70px;
  width: 70px;
  fill: white;
  transition: all 0.2s ease-in-out;
}

.bot-btn > svg:hover{
  fill: #ff1439;
}

/*chatter -----------------------------------------------------------*/
.arrow_box {
  grid-area: a;
  display: none;
	position: relative;
  border-radius: 36px 0 36px 36px;
  min-height: 400px;
  padding: 5px;
  background-color: hsl(0,0%,90%);
  animation: scale-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  will-change: transform;
}
@keyframes scale-in-top {
  0% {transform: scale(0);
      transform-origin: -80px 95px;
  }
  100% {transform: scale(1);
        transform-origin: -80px 95px;
  }
}

.arrow_box:after {
	top: 125px;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: hsl(0,0%,90%);
	border-width: 27px;
	margin-top: -27px;
}

/*chatspace-----------------------------------*/
.talk_box{
  width: 100%;
  height: calc(100% - 60px);
  min-height: 390px;
  border-radius: 32px 0 0 0;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#chatspace::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	background-color: #F5F5F5;
}
#chatspace::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
  cursor: pointer;
}
#chatspace::-webkit-scrollbar-thumb {background-color: #5c5c5c;}

/*message CSS---------------------------------*/
/* BOcT talk CSS */
.boct_talk{
  float: left;
  width: 75%;
  margin: 6px 4px 6px 10px;
  border: 2px solid #ffffff;
  padding: 2px 8px 2px 8px;
  position: relative;
  background: #e64c63;
}

.boct_talk:after, .boct_talk:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.boct_talk:after {
	border-color: rgba(226, 50, 76, 0);
	border-right-color: #e64c63;
	border-width: 8px;
	margin-top: -8px;
}
.boct_talk:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 11px;
	margin-top: -11px;
}

/*human talk CSS */
.human_talk{
  float: right;
  width: 75%;
  min-height: 36px;
  margin: 6px 10px 6px 4px;
  background: white;
  padding: 2px 8px 2px 8px;
  position: relative;
}
.human_talk:after {
  left: 100%;
  top: 75%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}

.human_talk > p , .boct_talk > p{
  color: black;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  overflow-wrap: break-word;
}

/*Type----------------------------------------*/
.type_box{
  margin: 12px auto;
  width: 88%;
  height: 36px;
}

.type_box-inner {
  width: 100%;
  display: flex;
}

.typespace {
  width: 100%;
  padding: 5px;
  height: 20px;
  border: 3px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 15px black;
  outline: none;
  color: hsl(0,0%,35%);
  font-family: "Quicksand", sans-serif;
}

.typespace:focus{
  color: black;
}

.typespace-enter {
  width: 40px;
  height: 36px;
  padding: 8px;
  background: black;
  box-shadow: 0 0 15px black;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  border: none;
  align-items: center;
}
.typespace-enter > svg{
  fill: white;
  width: 17px;
  height: 17px;
  margin: auto;
  text-align: center;
}
.typespace-enter > svg:active{
  fill: #ff1439;
}

/* FOOTER -----------------------------------------------------------*/
footer{
  border-top: 3px solid white;
  padding: 10px 0;
  height: 40px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer > div{
   width: 150px;
   height: 20px;
   margin: auto;
   text-align: center;
}
footer > div > a {
   color: white;
   text-decoration: none;
   font-family: 'Overpass', sans-serif;
   font-size: 12px;
}
footer > div > a:hover, footer > div > a:focus{
  color: #ff1439;
}

/*media queries------------------------------------------------------*/
@media screen and (max-width: 910px) {
  #title{
    font-size: 28px;
  }
  .bot-head{
    height: 65px;
  }
  .bot-btn > svg{
    width: 55px;
    height: 55px;
  }
  .arrow_box{
    margin: 0;
  }
}

@media screen and (max-width: 910px) and (min-width: 590px) {
  .alll{
    grid-template-columns: 10px 220px 30px auto 10px;
  }
  .arrow_box:after {
    top: 100px;
  }
}

@media screen and (max-width: 590px) {
  .info{
    display: none;
  }
  .alll{
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5px 150px 10px 90vh 40px;
    grid-template-areas:
      ". . . "
      ". p . "
      ". . . "
      "a a a "
      ". . . "
    ;
  }
  .arrow_box{
    animation: none;
  }
  .arrow_box:after{
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -27px;
    border-bottom-color: hsl(0,0%,90%);
    border-right-color: transparent;
  }
}

/*
*-----------------------------------------------------------
* Animations: scale-in-top and focus-in-expand.
* generated by http://animista.net
*-----------------------------------------------------------
And also: Thanks to
->  https://redstapler.co/add-loading-animation-to-website/
*/
.info { grid-area: i; }

.info fieldset{
  border: 2px solid white;
}
.info legend{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  padding: 3px;
}
.info ul{
  list-style-type: none;
  padding: 0;
  margin: 5px 0 10px;
  display: flex;
  justify-content: space-around;
}
.info li{
  width: 27px;
  height: 27px;
}
.info svg{
  fill: hsla(0,0%,100%,0.5);
}
.info svg:hover{
  fill: white;
}
.info p{
  text-align: center;
  color: white;
  font-family: 'Quicksand';
  font-size: 14px;
}

.release{
  font-family: monospace !important;
}