@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');

body, html{
  background-color: black;
}

/*header*/
.heading{
  border-bottom: 2px solid white;
  margin: 10px auto;
  width: 45%;
  min-width: 300px;
  padding: 5px 5px 10px;
}
/*title*/
.heading h1{
  margin: 0;
  color: white;
  font-family: 'Megrim', cursive;
  text-align: center;
  transition: all 0.4s ease-in-out;
  user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 500px) {
  .heading h1{
    font-size: 26px;
  }
}




/*content-div-bot*/
.bot-head{
  width: 20%;
  min-width: 300px;
  height: 90px;
  margin: 10px auto 575px;
  padding: 5px;
  text-align: center;
  transition: all 0.4s linear;
}

.bot-head:hover{
  animation: shake 0.8s linear infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px); }
  10% { transform: translate(-1px, -2px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 2px); }
  40% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 2px); }
  60% { transform: translate(-3px, 1px); }
  70% { transform: translate(3px, 1px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}


/*BOcT*/
.bot-btn{
  font-size: 69px;
  color: white;
  transition: all 0.3s ease-in-out;

}
@media screen and (max-width: 500px) {
  .bot-head{
    height: 66px;
  }
  .bot-btn{
    font-size: 50px;
  }
}
.bot-btn:hover{
  color: #ff1439;
}












.arrow_box {
	position: relative;
	background-color: white;
	border: 3px solid #ffffff;
  border-radius: 36px;
  margin: 0 auto 52px;
  padding: 6px;
  height: 485px;
  width: 60%;
  transition: all 0.5s linear;
  display: none;
}
@media screen and (max-width: 880px) {
  .arrow_box{
    width: 94%;
    min-width: 300px;
  }

}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
	border-width: 24px;
	margin-left: -24px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
	border-width: 29px;
	margin-left: -29px;
}

.inner-arrow_box{
  width: 100%;
  height: 423px;
  border-radius: 32px;
  background-color: black;
  overflow-y: auto;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  margin: 12px auto;
  width: 96%;
  height: 38px;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black; /*#00B4CC;*/
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
  font-family: monospace;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  transition: all 0.1s linear;
}
.searchButton:active{
  font-size: 16px;
  color: #ff1439;
}

/* FOOTER */
footer{
  border-top: 2px solid white;
  padding: 20px 10px 0;
  height: 40px;
  min-width: 300px;
  margin: 0 auto 10px;
  text-align: center;
}
footer > div{
   width: 45%;
   float: left;
   margin: auto 2%;
}
footer > div > a{
   color: white;
   text-decoration: none;
   font-family: monospace;
   font-size: 12px;
}
footer > div > a:hover{
  color: #ff1439;
}
