body, html{
  background-color: black;
  margin: 0;
}
/*header*/
.heading{
  border-bottom: 2px solid white;
  margin: 5px auto 10px;
  width: 45%;
  min-width: 290px;
}
/*title*/
.heading h1{
  color: white;
  font-family: monospace;
  font-size: 36px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}




/*content-div-bot*/
.bot-head{
  width: 90px;
  height: 90px;
  margin: 40px auto 495px;
  padding: 5px;
  text-align: center;
}
.bot-head:hover{
  animation: shake 0.8s linear infinite
}
@keyframes shake {
  0% { transform: translate(1px, 1px); }
  10% { transform: translate(-1px, -2px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 2px); }
  40% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 2px); }
  60% { transform: translate(-3px, 1px); }
  70% { transform: translate(3px, 1px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}

/*BOcT*/
.bot-btn{
  font-size: 69px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.bot-btn:hover{
  color: #ff1439;
}

footer{
  border-top: 2px solid white;
  padding: 10px 10px 0;
  height: 40px;
  min-width: 290px;
  margin: 0 auto 10px;
  text-align: center;
}
footer > div{
   width: 46%;
   float: left;
   margin: auto 2%;
}
footer > div > a{
   color: white;
   text-decoration: none;
   font-family: monospace;
   font-size: 12px;
}
footer > div > a:hover{
  color: #ff1439;
}



.arrow_box {
	position: relative;
	background: #000000;
	border: 3px solid #ffffff;
  margin: 0 auto 40px;
  height: 420px;
  width: 60%;
  transition: all 1s ease-in-out;
  display: none;
}
@media screen and (max-width: 880px) {
  .arrow_box{
    width: 94%;
  }

}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000000;
	border-width: 24px;
	margin-left: -24px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
	border-width: 29px;
	margin-left: -29px;
}






/* Temp Trash

@keyframes headh1 {
  from {font-size: 36px;}
  to {font-size: 20px;}
}
@keyframes headdiv {
  0% {border-bottom: 2px solid white; margin: 5px auto 10px; width: 45%; min-width: 290px;}
  25% {border-bottom: 0px solid white; margin: 5px 40% 5px 5px; width: 30%; min-width: 200px; }
  60% {border-bottom: none; margin: 5px 10% 5px 5px; width: 20%; min-width: 150px;}
  100% {border-bottom: none; margin: 5px; width: 100px; min-width: 100px;}
}

*/
