@media screen and (max-width: 880px) and (min-width: 500px) {
  .arrow_box{
    width: 96%;
    min-width: 300px;
  }
}
@media screen and (max-width: 500px) {
  #title{font-size: 26px;}

  .bot-head{
    width: 100%;
    min-width: 310px;
    height: 65px;
  }
  .bot-btn > svg{
    width: 55px;
    height: 55px;
  }
  .arrow_box{
    height: 550px;
    width: 96%;
    min-width: 300px;
    animation: none !important;
  }
  .talk_box{
    height: 488px;
  }
}
@media screen and (max-width: 880px) {
  .type_box{width: 96%;}
}



@media screen and (max-width: 500px) {
  .pagehead{
    width: 100%;
    min-width: 310px;
  }
}


.pagehead{
  width: 30%;
}






.alll{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;    
  margin: 0 40px;
}

.alll {
  display: grid;
  grid-template-columns: 0.3fr repeat(2, 0.7fr) 0.2fr repeat(3, 1fr) 0.3fr;
  grid-template-rows: 0.1fr repeat(2, 0.7fr) 0.2fr repeat(2, 1fr) 0.3fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . . . ." ". pagehead pagehead . arrow_box arrow_box arrow_box ." ". pagehead pagehead . arrow_box arrow_box arrow_box ." ". . . . arrow_box arrow_box arrow_box ." ". info info . arrow_box arrow_box arrow_box ." ". info info . arrow_box arrow_box arrow_box ." ". . . . . . . .";
}











/*media queries----old1--------------------------------------------------
@media screen and (max-width: 750px) {
  .arrow_box{
    width: 75%;
    min-width: 300px;
    margin: 10px 0;
  }
  .arrow_box:after{
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -27px;
    border-bottom-color: hsl(0,0%,90%);
    border-right-color: black !important;
  }
}
@media screen and (max-width: 500px) {
  #title{font-size: 26px;}

  .bot-head{
    height: 65px;
  }
  .bot-btn > svg{
    width: 55px;
    height: 55px;
  }
  .arrow_box{
    height: 550px;
    width: 96%;
    min-width: 300px;
    animation: none !important;
  }
  .talk_box{
    height: 488px;
  }
}
@media screen and (max-width: 880px) {
  .type_box{width: 96%;}
}

*/