/*Chatter -----------------------------------------------------------*/
#Chatter {
  grid-area: c;
  display: none;
  border-radius: 36px 0 36px 36px;
  padding: 7px;
  background-color: var(--wit-in-dark);
  box-shadow: 2px 2px 20px black;
  animation: scale-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  will-change: transform;
}
@keyframes scale-in-top {
  0% {
    transform: scale(0);
    transform-origin: -80px 95px;
  }
  100% {
    transform: scale(1);
    transform-origin: -80px 95px;
  }
}

#Chatter:after {
  top: 120px;
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: var(--wit-in-dark);
  border-width: 27px;
  margin-top: -27px;
}

/*chatspace-----------------------------------*/
.talk_box {
  width: 100%;
  height: calc(100% - 59px);
  border-radius: 32px 0 0 0;
  box-shadow: 0 0 20px inset black;
  background-color: var(--blk-in-dark);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#chatspace::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: #f5f5f5;
}
#chatspace::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}
#chatspace::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
}

/*message CSS---------------------------------*/
/* BOcT talk CSS */
.human_talk,
.boct_talk {
  color: var(--blk-in-dark);
  font-size: 14px;
}

.boct_talk {
  float: left;
  max-width: 75%;
  min-width: 45%;
  margin: 6px 20% 6px 4px;
  border: 2px solid var(--wit-in-dark);
  padding: 2px 8px 2px 8px;
  background: #e64c63;
}

/*human talk CSS */
.human_talk {
  float: right;
  max-width: 75%;
  min-width: 30%;
  min-height: 44px;
  margin: 6px 4px 6px 21%;
  background: var(--wit-in-dark);
  padding: 2px 8px;
}
/*Type----------------------------------------*/
.type_box {
  margin: 15px auto 8px;
  width: 85%;
  height: 36px;
}
.type_box-inner {
  width: 100%;
  display: flex;
}

#typespace {
  width: 100%;
  padding: 5px;
  height: 36px;
  border: 3px solid var(--blk-in-dark);
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 15px black;
  outline: none;
  background-color: white;
  color: hsl(0, 0%, 35%);
}
#typespace:focus {
  color: black;
}

#typespace-enter {
  width: 40px;
  height: 36px;
  padding: 7px 8px 8px;
  background: var(--blk-in-dark);
  box-shadow: 0 0 15px black;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: none;
}
#typespace-enter svg {
  fill: var(--wit-in-dark);
  width: 100%;
  height: 100%;
  text-align: center;
}
#typespace-enter svg:active {
  fill: #ff1439;
  transform: scale(0.85);
}
