.info_window {
  float: left;
  width: 90%;
  max-width: 800px;
  border: 2px solid var(--wit-in-dark);
  margin: 6px 4px 6px;
  padding: 5px 5px 0;
  background: #e64c63;
  text-align: center;
}

.info_content {
  background-color: var(--blk-in-dark);
  color: var(--wit-in-dark);
  width: 100%;
  padding: 5px;
  text-align: left;
  font-size: 12px;
}

.info_links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.info_links a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: var(--blk-in-dark);
}
.text1 {
  color: var(--wit-in-dark);
  font-size: 12px;
  text-align: center;
  margin: 0;
}
#info_close {
  color: var(--wit-in-dark);
  font-size: 14px;
  background-color: transparent;
}
